.container-fluid
  .row
    .container
      .col-12
        ul.nav.nav-pills.nav-justified.my-4
          li.nav-item( '*ngFor'="let route of routes" )
            a.nav-link(
              '[class.active]'="isCurrentPage(route.link)"
              '[routerLink]'="['/inventory/' + route.link]"
            ) {{route.name}}
  .row
    .col-12.col-lg-2 p
    .col-12.col-lg-7
      form.form-row('[formGroup]'="sortingForm")
        .col-auto
          label.mr-sm-2('for'="search") Search
          input.form-control.mb-2.mr-sm-2#search(
            'type'="search"
            'placeholder'="search"
            'formControlName'="search"
            '(keyup)'="filterInventory()"
          )

        .col-auto
          label('for'="type") Type
          select.form-control.mb-2.mr-sm-2#type('formControlName'="type" '(change)'="filterInventory()")
            option('value'="type") type
            option('value'="type") type
            option('value'="type") type

        .col-auto
          label('for'="sorting") Sorting
          select.form-control.mb-2.mr-sm-2#sorting('formControlName'="sorting" '(change)'="filterInventory()")
            option('value'="default") Default
            option('value'="price-asc") Price (low to high)
            option('value'="price-desc") Price (high to low)
            option('value'="name-asc") Name (A to Z)
            option('value'="name-desc") Name (Z to A)

        .col-auto
          label('for'="select-all") Select all
          input#select-all('type'="checkbox" 'formControlName'="selectAll" '(change)'="filterInventory()")
  .row
    .col-12.col-lg-2
      .card.mb-4( '*ngIf'="!!currentItem" )
        img.card-img-top(
          '[src]'="currentItem.image"
          '[alt]'="currentItem.name"
        )
        .card-body
          h5.card-title('[innerHTML]'="currentItem.marketHashName")
          p.card-text
            | category: {{currentItem.category}}
            br
            | exterior: {{currentItem.exterior}}
            br
            | marketable: {{currentItem.marketable}}
            br
            | tradable: {{currentItem.tradable}}
            br
            | type: {{currentItem.type}}
            br
            | price: {{currentItem.price / 100 | currency: 'USD'}}
          button.btn.btn-primary(
            '[class.btn-primary]'="!isItemSelected(currentItem)"
            '[class.btn-danger]'="isItemSelected(currentItem)"
            '(click)'="toggleItemInTrade(currentItem)"
            '[innerHTML]'="isItemSelected(currentItem) ? 'Remove from trade' : 'Add to trade'"
          )
        .d-flex.flex-wrap
          button.w-50.btn.btn-link.p-0(
            '*ngFor'="let item of selectedItems"
            '(click)'="selectItem(item)"
          )
            img.card-img-top(
              '[src]'="item.image"
              '[alt]'="item.name"
            )
    .col-12.col-lg-7
      .d-flex.flex-wrap
        div(
          'style'="width: 14.2857%;"
          '*ngFor'="let item of inventory"
        )
          button.btn.btn-link.d-block.p-0.item(
            '[class.selected]'="isItemSelected(item)"
            '(click)'="selectItem(item)"
          )
            img.card-img-top.d-block(
              '[src]'="item.image"
              '[alt]'="item.name"
            )
            .hover-content
              h6.mb-0.small {{item.name}}
              p.mb-0.small {{item.price / 100 | currency: 'USD'}}
    .col-12.col-lg-3 payment
