
<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="col-12">
        <ul class="nav nav-pills nav-justified my-4">
          <li class="nav-item" *ngFor="let route of routes"><a class="nav-link" [class.active]="isCurrentPage(route.link)" [routerLink]="['/inventory/' + route.link]">{{route.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-2">p</div>
    <div class="col-12 col-lg-7">
      <form class="form-row" [formGroup]="sortingForm">
        <div class="col-auto">
          <label class="mr-sm-2" for="search">Search</label>
          <input class="form-control mb-2 mr-sm-2" id="search" type="search" placeholder="search" formControlName="search" (keyup)="filterInventory()"/>
        </div>
        <div class="col-auto">
          <label for="type">Type</label>
          <select class="form-control mb-2 mr-sm-2" id="type" formControlName="type" (change)="filterInventory()">
            <option value="type">type</option>
            <option value="type">type</option>
            <option value="type">type</option>
          </select>
        </div>
        <div class="col-auto">
          <label for="sorting">Sorting</label>
          <select class="form-control mb-2 mr-sm-2" id="sorting" formControlName="sorting" (change)="filterInventory()">
            <option value="default">Default</option>
            <option value="price-asc">Price (low to high)</option>
            <option value="price-desc">Price (high to low)</option>
            <option value="name-asc">Name (A to Z)</option>
            <option value="name-desc">Name (Z to A)</option>
          </select>
        </div>
        <div class="col-auto">
          <label for="select-all">Select all</label>
          <input id="select-all" type="checkbox" formControlName="selectAll" (change)="filterInventory()"/>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-2">
      <div class="card mb-4" *ngIf="!!currentItem"><img class="card-img-top" [src]="currentItem.image" [alt]="currentItem.name"/>
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="currentItem.marketHashName"></h5>
          <p class="card-text">category: {{currentItem.category}}<br/>exterior: {{currentItem.exterior}}<br/>marketable: {{currentItem.marketable}}<br/>tradable: {{currentItem.tradable}}<br/>type: {{currentItem.type}}<br/>price: {{currentItem.price / 100 | currency: 'USD'}}</p>
          <button class="btn btn-primary" [class.btn-primary]="!isItemSelected(currentItem)" [class.btn-danger]="isItemSelected(currentItem)" (click)="toggleItemInTrade(currentItem)" [innerHTML]="isItemSelected(currentItem) ? 'Remove from trade' : 'Add to trade'"></button>
        </div>
        <div class="d-flex flex-wrap">
          <button class="w-50 btn btn-link p-0" *ngFor="let item of selectedItems" (click)="selectItem(item)"><img class="card-img-top" [src]="item.image" [alt]="item.name"/></button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="d-flex flex-wrap">
        <div style="width: 14.2857%;" *ngFor="let item of inventory">
          <button class="btn btn-link d-block p-0 item" [class.selected]="isItemSelected(item)" (click)="selectItem(item)"><img class="card-img-top d-block" [src]="item.image" [alt]="item.name"/>
            <div class="hover-content">
              <h6 class="mb-0 small">{{item.name}}</h6>
              <p class="mb-0 small">{{item.price / 100 | currency: 'USD'}}</p>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">payment</div>
  </div>
</div>