section
    article.splash-image.container-fluid.bg-white.text-center
        .background-gradient
        .larger-stripes
        .smaller-stripes
        .container
            .row
                .col-12
                    h1.text-light "Wat" marketplace
                    p.h2.text-light.mb-5 Helps you to monetize your inventory
                .col-12
                    .row
                        .d-none.d-md-block.col-4
                        .col-12.col-sm-6.col-md-2
                            a.btn.btn-primary.btn-block.btn-lg('[routerLink]'="['/']") Sell skins
                        .col-12.col-sm-6.col-md-2
                            a.btn.btn-info.btn-block.btn-lg('[routerLink]'="['/']") How it works
    article.partners
        .container
            .row.pt-4.justify-content-between
                .col-1.justify-content-center
                    h3.h6.text-white.text-center.text-uppercase.pb-4.pt-1.mb-0 Suported payment systems
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
                .col-auto
                    .partner-wrapper.pb-4
                        img.rounded('src'="http://via.placeholder.com/92x64")
    article.trust-us.bg-white
        .container
            .row.py-4
                .col-12.col-md-6
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(
                            'src'="https://www.youtube.com/embed/edYCtaNueQY"
                            'frameborder'="0"
                            'allow'="autoplay; encrypted-media"
                            'allowfullscreen'
                        )
                .col-12.col-md-6


