form.card.mb-4( '*ngIf'="!!paymentSystems.length" '[formGroup]'="checkoutForm")
    .col-12
        .form-group.d-flex.flex-wrap
            label.w-100 Payment System {{sum}}:
            .payment-system-wrapper.p-1(
                    '*ngFor'="let ps of paymentSystems"
                    'style'="width: 33.333333%"
                )
                input.payment-system-checkbox.d-none(
                    'type'="radio"
                    'formControlName'="paymentSystem"
                    'value'="{{ps.tag}}"
                    'id'="ps-{{ps.tag}}"
                    '(change)'="extraField()"
                )
                label.payment-system-label.btn.btn-link.w-100.mb-0.py-2.px-1(
                    'for'="ps-{{ps.tag}}"
                    '[class.disabled]'="!sum"
                ) {{ ps.name }}
    .col-12('*ngIf'="checkoutForm.controls.paymentSystem.value !== ''")
        .form-group
            label( 'for'="email" ) Email:
            input.form-control( 'type'="email" 'id'="email" 'formControlName'="email" placeholder="example@email.com" )
    .col-12('*ngIf'="!!checkoutForm.get('walletNumber') && checkoutForm.controls.paymentSystem.value !== ''")
        .form-group
            label( 'for'="walletNumber" ) {{extraFieldTitle}}:
            input.form-control( 'type'="walletNumber" 'id'="walletNumber" 'formControlName'="walletNumber" placeholder="" )
    .col-12('*ngIf'="checkoutForm.valid")
        .form-group
            button.btn.btn-success.btn-block('type'="submit") Get cash