.payment-system{
    &-checkbox{
        display: none;
    }
    &-checkbox:checked + &-label{
        color: #ffffff;
        background: #28a745;
    }
    &-label{
        background: rgba(0, 0, 0, .25);
        color: #212529;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 14px;
        &.disabled{
            pointer-events: none;
        }
    }
}