
<div class="container py-4">
  <div class="row">
    <div class="col-3">
      <div class="card mb-4">
        <header class="card-header">
          <h5 class="card-title mb-0">Your summary</h5>
        </header>
        <div class="card-body p-0">
          <div class="row p-3">
            <div class="col-4"><img class="card-img" src="http://via.placeholder.com/184x184"/></div>
            <div class="col-8"><span>user.name</span><br/><a href="http://steamcommunity.com/profiles/user.steamid/edit/settings">Privacy settings</a><br/><a href="http://steamcommunity.com/profiles/user.steamid/tradeoffers">Trade offers</a></div>
          </div>
          <ul class="list-group">
            <li class="list-group-item border-left-0 border-right-0">user.bonus</li>
            <li class="list-group-item border-left-0 border-right-0">user.deals</li>
            <li class="list-group-item border-left-0 border-right-0">user.cashout</li>
            <li class="list-group-item border-left-0 border-right-0 border-bottom-0">user.balance</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <h5 class="card-title mb-0">Name bonus</h5>
        </header>
        <div class="card-body p-0">
          <div class="row p-3">
            <div class="col-4"><img class="card-img" src="http://via.placeholder.com/184x184"/></div>
            <div class="col-8"><span>user.name</span><br/><a href="http://steamcommunity.com/profiles/user.steamid/edit/settings">Privacy settings</a><br/><a href="http://steamcommunity.com/profiles/user.steamid/tradeoffers">Trade offers</a></div>
          </div>
          <ul class="list-group">
            <li class="list-group-item border-left-0 border-right-0">user.bonus</li>
            <li class="list-group-item border-left-0 border-right-0">user.deals</li>
            <li class="list-group-item border-left-0 border-right-0">user.cashout</li>
            <li class="list-group-item border-left-0 border-right-0 border-bottom-0">user.balance</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9"></div>
  </div>
</div>