.container.py-4
    .row
        .col-3
            .card.mb-4
                header.card-header
                    h5.card-title.mb-0 Your summary
                .card-body.p-0
                    .row.p-3
                        .col-4
                            img.card-img('src'="http://via.placeholder.com/184x184")
                        .col-8
                            span user.name
                            br
                            a('href'="http://steamcommunity.com/profiles/user.steamid/edit/settings") Privacy settings
                            br
                            a('href'="http://steamcommunity.com/profiles/user.steamid/tradeoffers") Trade offers
                    ul.list-group
                        li.list-group-item.border-left-0.border-right-0 user.bonus
                        li.list-group-item.border-left-0.border-right-0 user.deals
                        li.list-group-item.border-left-0.border-right-0 user.cashout
                        li.list-group-item.border-left-0.border-right-0.border-bottom-0 user.balance
            .card
                header.card-header
                    h5.card-title.mb-0 Name bonus
                .card-body.p-0
                    .row.p-3
                        .col-4
                            img.card-img('src'="http://via.placeholder.com/184x184")
                        .col-8
                            span user.name
                            br
                            a('href'="http://steamcommunity.com/profiles/user.steamid/edit/settings") Privacy settings
                            br
                            a('href'="http://steamcommunity.com/profiles/user.steamid/tradeoffers") Trade offers
                    ul.list-group
                        li.list-group-item.border-left-0.border-right-0 user.bonus
                        li.list-group-item.border-left-0.border-right-0 user.deals
                        li.list-group-item.border-left-0.border-right-0 user.cashout
                        li.list-group-item.border-left-0.border-right-0.border-bottom-0 user.balance
        .col-9

